
.ct-app .ct-widget.ct-ignition.ct-ignition--ready .ct-ignition__button--more {
    display: block;
    left: 64px;
    background: #ff4500;
}
.ct-widget .ct-ignition__button--more:before {
    content: '···';
}
.ct-app .ct-widget.ct-ignition .ct-ignition__button--more:hover {
    background: #ff7e4e;
}

.ct-widget.ct-history-dialog .ct-dialog__view {
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 10px;
    height: 400px;
}

.ct-widget.ct-history-dialog .ct-dialog__body {
    width: 635px;
}

.ct-widget.ct-history-dialog .ct-history-entry a {
    width: 8em;
    display: inline-block;
    color: #333;
    font-weight: bold;
}

#ct-msgbox {
    position: absolute;
    top: 55px;
    left: 0;
    background: cornflowerblue;
    color: white;
    width: 100px;
    padding: 5px 10px;
    border-radius: 5px;
}

.ct-ignition--ready #ct-msgbox {
    display: none;
}

.ct-app {
    text-align: left;
}

.ct-widget .ct-tool--h1:before,
.ct-widget .ct-tool--h2:before,
.ct-widget .ct-tool--h3:before,
.ct-widget .ct-tool--h4:before,
.ct-widget .ct-tool--h5:before,
.ct-widget .ct-tool--h6:before {
    font-family: serif;
}

.ct-widget .ct-tool--h1:before { content: "H1"; }
.ct-widget .ct-tool--h2:before { content: "H2"; }
.ct-widget .ct-tool--h3:before { content: "H3"; }
.ct-widget .ct-tool--h4:before { content: "H4"; }
.ct-widget .ct-tool--h5:before { content: "H5"; }
.ct-widget .ct-tool--h6:before { content: "H6"; }

#gw-meta-section {
    font-size: 16px;
    max-width: 800px;
    padding: 20px;
    margin: 2em auto;
    border: 1px dotted rebeccapurple;
    background: #dff8ff;
    color: black;
}

#gw-meta-section .gw-label {
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 1em;
    margin-bottom: 0.2em;
}