
.container {
    max-width: 1000px;
    margin: 0 auto;
	position: relative;
    clear: both;
}

#logo .container {
	height: 55px;
}

#logo {
	border-bottom: 1.5px solid #cd042e;
    margin-top: 10px;
    margin-bottom: 10px;
}

#logo img {
	height: 100%;
	position: absolute;
	right: 1em;
	top: 20%;
}

.leftrow, .rightrow {
    float:left;
}

.leftrow {
    width: 25%;
}

.rightrow {
    margin-left: 2%;
    width: 73%;
}

.menu {
    list-style-type: none;
    margin: 2em 0;
    padding: 0;
}

.menu li a {
    padding: 10px 20px;
    text-decoration: none;
    width: 100%;
    display: block;
    font-weight: 100;
    font-size: 1.6em;
    color:  #cd042e;
    box-sizing: border-box;
}

.menu li a:hover {
    background-color: #eee;
}

footer {
    border-top: 1px dotted #ccc;
    font-size: 0.8em;
    padding-top: 1em;
    color: #999;
}